.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    &__logo{
        width: 250px;
        img{
            width: 90%;
        }
    }

    &__official{
        font-size: 12px;
        font-weight: 500;
        color: #ffffff;
        text-align: center;
        span{
            font-size: 18px;
            display: block;
            margin-top: 2px;
        }
    }

    &__phone{
        font-size: 18px;
        font-weight: 700;
        color: #ffffff;
        display: block;
        &:hover{
           color:#ffffff;
           text-decoration: none;
        }
    }

    &__contacts{
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}